.shop-container{
    margin-bottom: 200px;
}

.shop{
    display: grid;
    grid-template-columns: 75% 25% ;
    padding:50px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.cart-container{
    background-color: rgba(250, 235, 215, 0.781);
    margin-left: 30px;
    border-radius: 20px;
    border: 1px solid #95A0A7;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px 1px rgb(27 27 27 / 10%);
}
.cart-content{
    position: sticky;
    top: 10px;
    
}
.btn button{
    margin: 5px;
    padding: 15px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 15px;
    border: 1px solid #95A0A7;
    background-color: aliceblue;
}
.quize-container{
    width: 50%;
    margin: auto;
    background-color: rgba(250, 235, 215, 0.781);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #95A0A7;
}
.question{
    text-align: start;
}

.question h3{
    margin-top: 70px;
    margin-bottom:8px;
}
.question p{
    margin: 0;
}



@media only screen and (max-width: 1400px) {
    .shop{
        grid-template-columns: 70% 30% ;
        padding:40px;
    }
    .product-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
  }
@media only screen and (max-width: 1000px) {
    .shop{
        padding:20px;
    }
    .product-container{
        gap: 20px;
    }
    .cart-container{
        margin-left: 20px;
    }
  }
@media only screen and (max-width: 900px) {
    .shop{
        grid-template-columns: 60% 40% ;
    }
    .product-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
  }
@media only screen and (max-width: 700px) {
    .btn button{
        margin: 5px;
        padding: 10px;
        font-size: 12px;
    }
  }
@media only screen and (max-width: 600px) {
    .shop{
        padding:14px;
    }
    .product-container{
        gap: 15px;
    }
    .cart-container{
        margin-left: 15px;
    }
  }
@media only screen and (max-width: 500px) {
    .product-container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .shop{
        grid-template-columns: 50% 50% ;
    }
  }
