
.cart-details{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid #95A0A7;
}
.cart-details img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cart-details button{
    border: none;
    margin-left: 0;
    background-color: aliceblue;
}
.icon{
    margin-left: 0;
    font-size: 18px;
}



@media only screen and (max-width: 1145px) {
    .cart-details{
        padding: 5px 10px;
    }
  }
@media only screen and (max-width: 1060px) {
    .cart-details img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .icon{
        margin-left: 0;
        font-size: 15px;
    }
  }
@media only screen and (max-width: 1000px) {
    .cart-details{
        margin: 10px;
    }
  }
@media only screen and (max-width: 940px) {
    .cart-details{
        padding: 0px 5px;
    }
  }

@media only screen and (max-width: 700px) {
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 14px;
    }
  }
@media only screen and (max-width: 400px) {
    h2{
        font-size: 17px;
    }
    h3{
        font-size: 12px;
    }
    .cart-details img{
        width: 20px;
        height: 20px;
    }
  }