.product{
    background-color: rgba(250, 235, 215, 0.781);
    border: 1px solid rgba(19,19,19,.125);
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 4px 1px rgb(27 27 27 / 10%);
}

.product img{
    width: 93%;
    padding: 10px;
    border-radius: 20px;
}
.product-info{
    padding:0 20px;
}
.product h3{
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}
.product p{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}
.product button{
    margin-top: 30px;
    margin-bottom: 18px;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid gray;
    border-radius: 8px;
}
.icon{
    margin-left: 5px;
}




@media only screen and (max-width: 1110px) {
    .product button{
        margin-top: 30px;
        margin-bottom: 18px;
        padding: 10px 10px;
    }
  }
@media only screen and (max-width: 1060px) {
    .product img{
        width: 90%;
        padding: 10px;
    }
  }
  @media only screen and (max-width: 700px) {
    .product button{
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .icon{
        margin-left: 2px;
        font-size: 13px;
    }
  }

  @media only screen and (max-width: 600px) {
    .product-info{
        padding:0 10px;
    }
    .product button{
        padding: 8px 8px;
        font-size: 11px;
    }
    .icon{
        margin-left: 2px;
        font-size: 13px;
    }
    .product img{
        width: 80%;
        padding: 10px;
    }
  }