h6{
    margin-bottom: 0;
    font-size: 16px;
}
/* .cart-details h3{
    background-color: aliceblue;
    padding: 5px 20px;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid #95A0A7;
} */